body{
	background-color: papayawhip;
	text-align: center;
}
div#main-container{
	margin: 0 auto;
	max-width: 1000px;
	background-color: limegreen;
}
div.box{
	vertical-align: top;
	background-color: magenta;
	width: 200px;
	height: 200px;
	display: inline-block;
	border: 1px solid black;
	margin: 20px;
}