div.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
  border: 5px solid black;
}

div#two {
  position: relative;
  top: 20px;
  left: 20px;
  background: blue;
}